@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/Arial.ttf");
}
@font-face {
  font-family: "Arial-Italic";
  src: url("../fonts/arial/Arial_italic.ttf");
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.wrapper {
  width: 595px;
  height: 842px;
  max-width: 595px;
  max-height: 842px;
  background-color: #fff;
  margin-top: 50px;
  padding: 13px 12px 13px 12px;
}

.comp_seal_mw {
  position: relative;
  max-width: 151px;
  max-height: 151px;
  transform: rotate(-102.97deg);
  -webkit-transform: rotate(-102.97deg);
  -ms-transform: rotate(-102.97deg);
  left: 410px;
  bottom: 102px;
}

header {
  margin-bottom: 17px;
}

.main {
  margin-bottom: 20px;
}

.main__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.main__title {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 130%;
  font-weight: 600;
  font-style: normal;
  color: #0B1F35;
}

.main__sub_title {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  color: #0B1F35;
}

.information_insured {
  margin-bottom: 32px;
}

.inf_title {
  font-family: "Arial";
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.requested_risks__title, .cargo_information__title {
  font-family: "Arial";
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
}

.information_insured__table td {
  border-bottom: 1px solid #B6BCC3;
  border-right: 1px solid #B6BCC3;
}

.information_insured__table_fst_line, .information_insured__table_snd_line {
  background-color: #EFEFEF;
}
.information_insured__table_fst_line td:nth-child(1), .information_insured__table_fst_line td:nth-child(2), .information_insured__table_snd_line td:nth-child(1), .information_insured__table_snd_line td:nth-child(2) {
  border-bottom: 0;
  border-right: 1px solid #B6BCC3;
}

.information_insured__table_snd_line {
  max-height: 35px;
}
.information_insured__table_snd_line td:nth-child(1), .information_insured__table_snd_line td:nth-child(2) {
  border-bottom: 0;
  border-right: 1px solid #B6BCC3;
  height: 37px;
}
.information_insured__table_snd_line td:nth-child(3) {
  border-bottom: 0;
  border-right: 1px solid #B6BCC3;
  font-family: "Arial-italic";
  font-size: 8px;
  line-height: 9px;
  font-weight: 400;
  font-style: italic;
  height: 37px;
}

.info_line td {
  font-family: "Arial";
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  padding: 2px 0 0 4px;
}
.info_line td:first-child {
  width: 243px;
}
.info_line td:nth-child(2) {
  width: 127px;
}
.info_line td:nth-child(3) {
  width: 99px;
}
.info_line td:last-child {
  border-right: 0;
  width: 102px;
}

.cargo_information__main_content, .requested_risks {
  margin-bottom: 32px;
}

.cargo_information__table {
  width: 100%;
}
.cargo_information__table td {
  border-bottom: 1px solid #B6BCC3;
  border-right: 1px solid #B6BCC3;
}

.cargo_line:nth-child(8), .cargo_line:nth-child(10), .cargo_line:nth-child(13) {
  background-color: #EFEFEF;
}
.cargo_line td {
  font-family: "Arial";
  font-size: 9.56178px;
  line-height: 11px;
  font-weight: 400;
  font-style: normal;
  padding: 2px 0 0 4px;
}
.cargo_line td:first-child {
  width: 243px;
}
.cargo_line td:last-child {
  border-right: 0;
}

.cargo_information__table_fst_line td:nth-child(2), .cargo_information__table_fst_line td:nth-child(2) {
  width: 127px;
}
.cargo_information__table_fst_line td:nth-child(3), .cargo_information__table_fst_line td:nth-child(3) {
  width: 201px;
}

.cargo_information__table_eighth_line td, .cargo_information__table_tenth_line td, .cargo_information__table_thirteenth_line td {
  border-bottom: 0;
}

.requested_risks__table, .date_completion__table {
  width: 568px;
}

.risks_line td, .date_line td {
  font-family: "Arial";
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  padding: 2px 0 0 4px;
  border-bottom: 1px solid #B6BCC3;
  border-right: 1px solid #B6BCC3;
}
.risks_line td:last-child, .date_line td:last-child {
  border-right: none;
  width: 329px;
}

.requested_risks__table_thrd_line {
  height: 30px;
}
.requested_risks__table_thrd_line td:first-child {
  width: 239px;
}/*# sourceMappingURL=style.css.map */